# Python files
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
venv/
.venv/

# Flask environment variables
.env

# Logs
*.log

# SQLite databases
*.sqlite3

# Noder)
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Build outputs
dist/
build/
